@model IEnumerable<InstModels>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="images/imginst2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso 1</h5>
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/imginst3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso 2</h5>
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/imginst4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso 3</h5>
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/imginst5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso 4</h5>
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>